.search-form{
    width: 75%
}

.search-form__search{
    /* display: flex; */
    margin-bottom: 1.5rem;
}

.search-form__icon{
    border: 2px #343434 solid;
    border-top-left-radius: 0.2rem;
    border-bottom-left-radius: 0.2rem;
    border-right: 0px;
}

.search-form__search input{
    width: 90%;
    font-size: 1.5rem;
    /* margin-bottom: 1.5rem; */
    padding: 0.2rem;
    /* padding-left: 2rem; */
    border: 2px #343434 solid;
    border-top-right-radius: 0.2rem;
    border-bottom-right-radius: 0.2rem;
    /* border-left: 0px; */

}

.search-form__search input:focus {
	outline: none;
}

.search-form__icon{
    width: 2.5rem;
}

.search-form__btn{
    background-color: #343434;
    font-size: 1.5rem;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 0.3rem;
    cursor: pointer;
    margin-bottom: 0.5rem;

}
.search-form__btn :hover, .search-form__btn :active{
    background-color: white;
}

.search-form__btn :focus{
    outline: none;
}

/* .search-form-autofill{
    width: 100%;
} */


.search-form__search input{
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
    padding: 0.2rem;
    /* padding-left: 2rem; */
    border: none;
    border-bottom: 2px #343434 solid;
}