.navbar-wrapper{
    height: 4rem;
    background: #343434;
    position:fixed;
    top: 0px;
    left : 0px;
    width: 100%;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    vertical-align: middle;
    height: 4rem;
    max-width: 1800px;
}

.nav-logo p{
    padding-left: 2rem;
    color: white;
    font-size: 2rem;
}

.nav-logo a {
    text-decoration: none;
    color: white;
}

.nav-links p{
    padding-right: 2rem;
    color: white;
    font-size: 1rem;
    text-decoration: underline;
}

.nav-links a {
    color: white;
}