.navbar-wrapper{
    height: 4rem;
    background: #343434;
    position:fixed;
    top: 0px;
    left : 0px;
    width: 100%;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    vertical-align: middle;
    height: 4rem;
    max-width: 1800px;
}

.nav-logo p{
    padding-left: 2rem;
    color: white;
    font-size: 2.5rem;
}

.nav-logo a {
    text-decoration: none;
    color: white;
}

.nav-links{
    display: flex;
    padding-right: 2rem;
    align-items: center;
    font-size: 1.5rem;
}

.nav-link {
    color: white;
    padding-left: 2rem;
}


p.nav-link{
    text-decoration: underline;
    cursor: pointer;

}

.nav-link-img{
    width: 2rem;
    border-radius: 50%;
    padding-left: 0.3rem;
}
