.reservation-form{
    width: 75%;
}

.reservation-form__header{
    color: #343434;
    margin-bottom: 2.5rem;
    font-size: 2rem;
}

.reservation-form__license{
    border-bottom: 1px black solid;
    display: flex;
    margin-bottom: 2rem;
}

.reservation-form__license label{
    width: 40%;
    text-align: left;
    font-size: 1.5rem;
    color: #343434;

}

.reservation-form__license input {
    border: none;
    width: 60%;
    font-size: 1.5rem;
}

.reservation-form__license input:focus {
	outline: none;
	background: rgb(244, 244, 244);
}


.reservation-form__driver-name{
    border-bottom: 1px black solid;
    display: flex;
    margin-bottom: 2rem;}

.reservation-form__driver-name label{
    width: 40%;
    text-align: left;
    font-size: 1.5rem;
    color: #343434;

}

.reservation-form__driver-name input {
    border: none;
    width: 60%;
    font-size: 1.5rem;
}

.reservation-form__driver-name input:focus {
	outline: none;
	background: rgb(244, 244, 244);
	
}

.reservation-form__duration{
    /* border-bottom: 1px black solid; */
    display: flex;
    margin-bottom: 2rem;
}

.reservation-form-duration-label{
    width: 40%;
    text-align: left;
    font-size: 1.5rem;
    color: #343434;
}



.reservation-form__duration .radio {
    border: none;
    display: flex;
    width: 60%;
    font-size: 1.5rem;
    justify-content: space-between;
    align-items: center
}



.radio input[type="radio" i] {
    appearance: none;
    margin:0px;
    padding: 0px;
    }
  
.reservation-form-duration-btn{
    background-color: white;
    border: 1px solid black;
    border-radius: 0.3rem;
    padding: 0.5rem;
  }
  
.reservation-form-duration-btn:hover{
    background-color: #343434;
    color: white;
  }

.reservation-form-duration-btn.reservation-form-duration-btn__clicked {
    background-color: #343434;
    color: white;
  }
  

.reservation-form__btn{
    background-color: #343434;
    font-size: 1.5rem;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 0.3rem;
    cursor: pointer;
    margin-bottom: 0.5rem;

}
.reservation-form__btn :hover, .reservation-form__btn :active{
    background-color: white;
}

.reservation-form__btn :focus{
    outline: none;
   
}



  
